.button-close {
    width: 10rem;
    margin: auto;
    display: block;
    height: 2.5rem;
    line-height: 0rem;
}

.form-retour,
.button-close {
    margin-top: 15rem;
    text-align: center;
}

.erreur-label {
    font-size: 0.8rem;
    color: rgb(235, 80, 80);
    display: none;
    font-weight: 100;
}